.heading {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff1da;
  font-size: 35px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}
.content {
  font-size: larger;
  padding: 15px;
  margin: 20px;
  line-height: 25px;
  color: #893f26;
}
